body {
	font: 18px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	background-color: rgba(50, 115, 120, 0.05);
	width: 60%;
	color: rgba(50, 115, 120, 1);

}
h3 {
	text-align: center;
}

form {
	padding: 24px;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(50, 115, 120, 0.1);
}

div {
	margin-bottom: 15px;
}
label {
	width: 40%;
	float: left;
	text-align: right; 
}

input {
	width: 50%;
    margin-left: 20px;
	padding: 4px;
	border-radius: 6px;
	background-color:gba(255,255,255,0);
	border: 1px solid rgba(0,0,0,0.2);
}

input:hover {
	border: 1px solid rgba(0,0,0,0.4);
}

input:focus, button:active {
	outline: none !important;
	border-color: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

::placeholder {
	opacity: 0.5;
}

button {
	padding: 12px 24px;
	margin: 1em 0 .1em 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	border-bottom: 4px solid rgba(50, 115, 120, 0.5);
	background-color: rgba(50, 115, 120, 0.5);
	outline: none !important;
}
button:hover {
	background-color: rgba(50, 115, 120, 0.7);
}

div#providerInfo {
	color: rgba(0,0,0,0.8);
}
